.container_search {
  display: flex;
  align-items: center;
  width: 65%;
  height: 3.8rem;
  border-radius: 50px 50px 50px 50px;
  background-color: rgba(50, 50, 50, 1);
  border: solid 2px rgba(255, 255, 255, 1);
  margin-left: 15%;
  padding-bottom: 1rem;
  padding-left: 5%;
  color: rgba(255, 255, 255, 1);
  font-family: "poppins";
  font-weight: bold;
  font-size: 15px;
}

.input_search {
  width: 89%;
  height: 3.8rem;
  background-color: rgba(50, 50, 50, 1);
  border-style: none;
  color: rgba(255, 255, 255, 1);
  margin-top: 1rem;
  font-size: 15px;
}

#icon_search {
  padding-top: 0.5rem;
  padding-right: 0.5rem;
}

.input_search:hover {
  border: none;
  outline: none;
}
