.comments_Component {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  padding-left: 3%;
  padding-right: 3%;
  margin-top: 1.5rem;
}
.comments_Component p {
  font-size: 18px;
  font-weight: 600;
}

.comment_Section p {
  font-weight: 400;
}

.comment_Section {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  width: 100%;
  gap: 10px;
}

.comment_Info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.comment_Info .user p {
  font-size: 18px;
  font-weight: 600;
}
.comment_Info .date p {
  font-size: 16px;
  font-style: italic;
}

span .date {
  font-size: 16px;
}

@media (min-width: 1024px) {
  .comment_Info {
    justify-content: flex-start;
    gap: 10%;
    width: 100%;
  }
}
