.container_Body_Header {
  background-color: var(--black);
  min-height: calc(100vh - 5.5rem);
  width: 100%;
}

.text_Title_Log {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 1);
  font-size: 25px;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 1);
  margin-bottom: 1rem;
}

.container_Log {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-bottom: 3rem;
}

.container_Input_Log {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--white);
  align-items: center;
  gap: 0.5rem;
  width: 80%;
}

.container_Username_Log {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#text_Log {
  color: rgba(255, 255, 255, 1);
  font-size: 25px;
  margin-top: 0.5rem;
}

.container_Password {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.link_Log {
  flex-direction: column;
  color: var(--white);
}

.text_Log_End {
  color: var(--white);
}

.container_But_Log {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.signup_End {
  color: rgba(221, 167, 79, 1);
  background-color: var(--black);
  border-style: none;
  font-weight: bold;
  font-size: 22px;
  font-family: "poppins";
  width: 100%;
}

@media only screen and (min-width: 1024px) {
  .container_Body_Header {
    background-color: var(--black);
    min-height: 100vh;
  }

  .container_Password {
    width: 40%;
  }

  .container_Username_Log {
    width: 40%;
  }
  .title_Log {
  }

  #text_Log {
  }

  .link_Log {
    margin-left: 4.5rem;
  }

  .text_Log_End {
  }

  .signup_End {
  }
}
