.container_Body_Signup {
  background-color: var(--black);
}

.container_search {
  display: none;
}

#icon_sign {
  display: none;
}

.title_signup {
  color: rgba(255, 255, 255, 1);
  margin-left: 36%;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  font-size: 35px;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 1);
}

#join_us {
  color: rgba(255, 255, 255, 1);
  margin-left: 40%;
  margin-bottom: 1rem;
  font-size: 25px;
  margin-top: 1rem;
}
#text_sign {
  margin-left: 4%;
  margin-bottom: 1rem;
  font-size: 20px;
}
.container_email {
  color: rgba(255, 255, 255, 1);
  margin-left: 8%;
  margin-bottom: 0.5rem;
}

#email {
  width: 85%;
  height: 3.8rem;
  border-radius: 50px 50px 50px 50px;
  background-color: var(--black);
  border: solid 2px rgba(255, 255, 255, 1);
  padding-left: 4.5%;
  color: rgba(255, 255, 255, 1);
  font-family: "poppins";
  font-size: 15px;
}
.container_username {
  color: rgba(255, 255, 255, 1);
  margin-left: 8%;
  margin-bottom: 0.5rem;
}

#text_user {
  margin-left: 4%;
  margin-bottom: 1rem;
  font-size: 20px;
}

#username {
  width: 85%;
  height: 3.8rem;
  border-radius: 50px 50px 50px 50px;
  background-color: var(--black);
  border: solid 2px rgba(255, 255, 255, 1);
  padding-left: 4.5%;
  color: rgba(255, 255, 255, 1);
  font-family: "poppins";
  font-size: 15px;
}

.container_password {
  color: rgba(255, 255, 255, 1);
  margin-left: 8%;
}

#text_pass {
  margin-left: 4%;
  margin-bottom: 1rem;
  font-size: 20px;
}

#pass {
  width: 85%;
  height: 3.8rem;
  border-radius: 50px 50px 50px 50px;
  background-color: var(--black);
  border: solid 2px rgba(255, 255, 255, 1);
  padding-left: 4.5%;
  color: rgba(255, 255, 255, 1);
  font-family: "poppins";
  font-size: 15px;
}

::placeholder {
  font-size: 1em;
  color: rgba(255, 255, 255, 1);
  padding-left: 3%;
}

.container_butsignup {
  height: 10rem;
}

.signup_button {
  margin-left: 12%;
  margin-top: 3rem;
  width: 75%;
  height: 3.8rem;
  background-color: rgba(221, 167, 79, 1);
  border-radius: 50px 50px 50px 50px;
  font-family: "poppins";
  font-size: 25px;
  border: 1.5px rgba(221, 167, 79, 1);
}

@media only screen and (min-width: 1024px) {
  .container_logo {
    display: flex;
    justify-content: center;
  }

  #logo_sign {
    width: 100px;
    height: 100px;
    margin-left: 3%;
    margin-top: 3%;
  }
  #icon_sign {
    display: initial;
  }

  .container_search {
    display: flex;
    align-items: center;
    width: 50%;
    height: 3rem;
    border-radius: 50px 50px 50px 50px;
    background-color: var(--black);
    border: solid 2px rgba(255, 255, 255, 1);

    color: rgba(255, 255, 255, 1);
    font-family: "poppins";
    font-size: 15px;
  }

  .input_search {
    background-color: var(--black);
  }

  .title_signup {
    color: rgba(255, 255, 255, 1);
    margin-left: 44%;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    font-size: 35px;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 1);
  }

  #join_us {
    color: rgba(255, 255, 255, 1);
    margin-left: 45%;
    margin-bottom: 0.5rem;
    font-size: 25px;
    margin-top: 0.5rem;
  }

  #text_sign {
    margin-left: 32%;
    margin-bottom: 1rem;
    font-size: 20px;
  }

  .container_email {
    margin-bottom: 1%;
  }

  #email {
    width: 25%;
    height: 3.8rem;
    border-radius: 50px 50px 50px 50px;
    background-color: var(--black);
    border: solid 2px rgba(255, 255, 255, 1);
    padding-left: 1.5%;
    color: rgba(255, 255, 255, 1);
    font-family: "poppins";
    font-size: 15px;
    margin-left: 30%;
  }

  .container_username {
    margin-bottom: 1%;
  }

  #text_user {
    margin-left: 32%;
    margin-bottom: 1rem;
    font-size: 20px;
  }

  #username {
    width: 25%;
    height: 3.8rem;
    border-radius: 50px 50px 50px 50px;
    background-color: var(--black);
    border: solid 2px rgba(255, 255, 255, 1);
    padding-left: 1.5%;
    color: rgba(255, 255, 255, 1);
    font-family: "poppins";
    font-size: 15px;
    margin-left: 30%;
  }

  .container_password {
    margin-bottom: 1%;
  }

  #text_pass {
    margin-left: 32%;
    margin-bottom: 1rem;
    font-size: 20px;
  }

  #pass {
    width: 25%;
    height: 3.8rem;
    border-radius: 50px 50px 50px 50px;
    background-color: var(--black);
    border: solid 2px rgba(255, 255, 255, 1);
    padding-left: 1.5%;
    color: rgba(255, 255, 255, 1);
    font-family: "poppins";
    font-size: 15px;
    margin-left: 30%;
  }

  .signup_button {
    width: 26%;
    margin-left: 35%;
  }
}
